body {
  background-color: #222;
  font-family: "Dots All For Now", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  background-color: #222; /* Dunkelgraue Hintergrundfarbe */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dots All For Now", Arial, sans-serif;
  color: white;
}

@font-face {
  font-family: 'Dots All For Now'; /* Name der Schriftart */
  src: url('./dots-all-for-now/DotsAllForNow.ttf') format('truetype')/* Pfad zur .woff2 Datei */

}

.centered-text {
  text-align: center;
}

.title {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.title a {
  margin-left: 10px;
}

.page-link {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.page-link:hover {
  background-color: deepskyblue;
}

.github-logo {
  width: 30px; /* Ändere die Breite nach Bedarf */
  height: auto; /* Die Höhe automatisch anpassen, um das Seitenverhältnis beizubehalten */
  margin-right: 10px; /* Füge einen Abstand zwischen dem Bild und dem Namen hinzu */
}

.header {
  display: flex;
  align-items: center;
}

.name-container {
  margin-left: 10px; /* Adjust as needed */
}
