body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.title a {
  margin-left: 10px;
}

.page-link {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.page-link:hover {
  background-color: deepskyblue;
}

.github-logo {
  width: 30px; /* Ändere die Breite nach Bedarf */
  height: auto; /* Die Höhe automatisch anpassen, um das Seitenverhältnis beizubehalten */
  margin-right: 10px; /* Füge einen Abstand zwischen dem Bild und dem Namen hinzu */
}
