body {
  background-color: #222;
  font-family: "Dots All For Now", Arial, sans-serif;
  color: white;
  font-size: 20px;
}

@font-face {
  font-family: 'Dots All For Now';
  src: url('./dots-all-for-now/DotsAllForNow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.centered-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.page-link {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.page-link:hover {
  background-color: deepskyblue;
}

.github-logo {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content .sschaar h1 {
  color: inherit;
  margin: 0;
}

.link a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
